:root{
	--skin-color:#fb839e;
    --bg-block-900: #000000;
    --bg-block-100: #dddddd;
    --bg-block-50: #eff0f4;
    --bg-opacity: rgba(255,255,255, 0.5);
    --text-block-900: #000000;
    --text-block-700: #555555;
    --text-block-600: #666666;
    --text-block-300: #bbbbbb;
    --outer-shadow: 3px 3px 3px #d0d0d0, -3px -3px 3px #eff0f4;
    --outer-shadow-0: 0 0 0 #d0d0d0, 0 0 0 #dfdfdf;
    --inner-shadow: inset 3px 3px 3px #d0d0d0, inset -3px -3px 3px #dfdfdf;
    --inner-shadow-0: inset 0 0 0 #d0d0d0, inset 0 0 0 #dfdfdf;
}

.style-switcher{
    position: fixed;
    right: 0;
    top: 77px;
    padding: 15px;
    width: 200px;
    z-index: 101;
    border-radius: 5px;
    transition: all 0.3s ease;
    transform: translateX(100%);
}

.style-switcher.open{
    transform: translateX(-15px);
}

.style-switcher .s-icon{
    position: absolute;
    height: 40px;
    width: 40px;
    text-align: center;
    font-size: 20px;
    color: var(--text-block-900);
    right: 100%;
    margin-right: 15px;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 50%;
}

.style-switcher .s-icon:after{
    border-radius: 50%;
}

.style-switcher .s-icon i{
    line-height: 40px;
}

.style-switcher .style-switcher-toggler{
    top: 0;
}

.style-switcher .day-night{
    top: 55px;   
}

.style-switcher h4{
    margin: 0 0 10px;
    color: var(--text-block-700);
    font-size: 16px;
    font-weight: 600;
    text-transform: capitalize;
}
.style-switcher .colors{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.style-switcher .colors span{
    display: inline-block;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    cursor: pointer;
}

.style-switcher .color-1{
    background-color: #fb839e;
}

.style-switcher .color-2{
    background-color: #ec9412;
}

.style-switcher .color-3{
    background-color: #1fc586;
}

.style-switcher .color-4{
    background-color: #2eb1ed;
}

.style-switcher .color-5{
    background-color: #cc3a3b;
}


















